
.navbar{
    height: 60px;
    text-align: center;
    align-items: center;
    background-color: blue;
    color: white;
    padding-bottom: 60px;
    padding-top: 5px;
    font-size: 30px;
}

.body{
    font-family: 'Courier New', Courier, monospace;
    height: 100%;
    margin: 0%;
    
}

.card{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.teamCard{
    display: flex;
    align-content: space-between;
    width: 170px;
    height: 170px;
    background-color: grey;
    box-shadow: 18px 18px 18px blue;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}
.cardbody{
width: fit-content;
height: fit-content;
}